* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: var(--fs-2);
  font-size: 1rem;
  color: #000;
}

img {
  max-width: 100%;
  display: block;
  height: 100%;
}

form,
label,
input,
button {
  display: block;
  font-size: 1rem;
  border-radius: 5px;
  /* border: none; */
  /* background: none; */
  width: 100%;
}

button {
  cursor: pointer;
}

a {
  display: block;
  color: inherit;
}
