.banner {
  justify-content: space-between;
}

.banner__content h1 {
  max-width: 18ch;
  font-size: 4rem;
  font-weight: 500;
}

.banner__content p {
  max-width: 60ch;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-top: 50px;
  margin-bottom: 45px;
}

.banner__content a {
  max-width: 230px;
  display: block;
  font-size: 1.125rem;
  text-align: center;
  color: var(--c-1);
  background: var(--c-0);
  padding: 16px 0px;
  border-radius: 5px;
}
